clean.sh
proms
galaga_deca_tests_hdmi.vhd
output_files
*.cache
*.gen
*.hw
*.runs
*.sim
*.ip_user_files
*.srcs
impl
#ignorar fitxers ja trackejats $ git rm --cached clean.sh 
#https://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository#_ignoring
